* {
margin: 0;
padding: 0;
font-weight: inherit;
font-style: inherit;
text-decoration: none;
font-family:'Roboto', sans-serif;
}

header {
display: flex;
background-color: #1F2937;
padding-top: 0.5em;
padding-left: 11em;
padding-right: 11em;
justify-content: space-between;
}

h1 {
font-size: 24px;
font-weight: bolder;
color: #F9FAF8;
}
nav {
    display: flex;
    width: 40vw;
    align-items:flex-end;
    justify-content: space-between;
}
a, .secondary_text{ /*la coma se usa para elegir dos clases diferentes*/
    font-size: 18px;
    color: #E5E7EB;
}

main {
    padding-left: 11em;
    padding-right: 11em;
    padding-top: 5em;
    padding-bottom: 5em;
    background-color: #1F2937;
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.main_text {
    max-width: 20em;
}
.awesome_header {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}
.secondary_text {
    padding: 10px 0 10px 0;
}
.button_1 {
background-color: #3882F6;
border-radius: 5px;
border: none;
padding: 6px 25px 6px 25px;
color:#E5E7EB;
font-weight: bolder;
}

.first_img {
max-height: 13em;
}

.random_info { /*imágenes con wrap*/
    padding-left: 11em;
    padding-right: 11em;
display: flex;
color: #1F2937;
flex-direction: column;
align-items: center;
}
.random_header {
color: #1F2937;
font-size: 36px;
font-weight: bolder;
padding: 1em 0 1em;
}
.random_imgs {
display: flex;
justify-content: center;
flex-wrap: wrap;
gap: 2em;
padding-bottom: 3em;

}
figure img {
max-width: 10em;
border-radius: 10px;
border: 3px solid #3882F6;
}
figcaption {
max-width: 10em;
text-align: center;
}
.quotation {
    display: flex;
    flex-direction: column;
    color: #1F2937;
    background-color: #E5E7EB;
    padding: 5em 11em 5em 11em;
}
blockquote {
    font-size: 36px;
    font-style: italic;
}
.cita {
    align-self: flex-end;
    max-width: fit-content;
    font-weight: 1000;
}
.sign_up_footer {
    margin: 5em 11em 5em 11em;
    padding: 2em 5em 2em 5em;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    background-color: #3882F6;
    color:#F9FAF8
}

h3 {
    font-weight: bolder;
}
.second_button {
    border-radius: 10px;
    border: 3px solid #F9FAF8;
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 0 30px 0 30px;
    font-weight: bolder;
}
footer {
display: flex;
    border: 1px solid rgb(0, 42, 255);
    justify-content: center;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 2em 0 2em;
    font-weight: bolder;
}